@echo off

set GISBASE=%~dp0

if not exist %GISBASE%\etc\fontcap (
	pushd .
	%~d0
	cd %GISBASE%\lib
	set GISRC=dummy
	%GISBASE%\bin\g.mkfontcap.exe
	popd
)

rem set PYTHONHOME=@PYTHONHOME@
rem set GRASS_PYTHON=%PYTHONHOME%\python.exe

set GRASS_PYTHON=@PYTHONHOME@\python.exe
set GRASS_PROJSHARE=%GISBASE%\share\proj

set PROJ_LIB=%GISBASE%\share\proj
set GDAL_DATA=%GISBASE%\share\gdal
rem set GEOTIFF_CSV=%GISBASE%\share\epsg_csv

rem set FONTCONFIG_FILE=%GISBASE%\etc\fonts.conf

"%GRASS_PYTHON%" "%GISBASE%\etc\grass79.py" %*
if %ERRORLEVEL% geq 1 pause
